<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Search Engine -->
	<meta property="description" content="  DjangoPy is not just another Django website. We provide great, quality tutorials and support for the development of Django community.">
	<meta property="image" content="https://djangopy.org/{{'/img/djangopy.png'}}">
	<!-- Schema.org for Google -->
	<meta itemprop="property" content="DjangoPy - Learn, Code, Implement">
	<meta itemprop="description" content="  DjangoPy is not just another Django website. We provide great, quality tutorials and support for the development of Django community.">
	<meta itemprop="image" content="https://djangopy.org/{{'/img/djangopy.png'}}">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="DjangoPy - Learn, Code, Implement">
	<meta property="twitter:description" content="  DjangoPy is not just another Django website. We provide great, quality tutorials and support for the development of Django community.">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="DjangoPy - Learn, Code, Implement">
	<meta property="og:description" content="  DjangoPy is not just another Django website. We provide great, quality tutorials and support for the development of Django community.">
	<meta property="og:url" content="https://djangopy.org/">
	<meta property="og:site_property" content="DjangoPy">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<title>DjangoPy - Learn, Code, Implement</title>


	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
	<link rel="stylesheet" href="{{ '/css/default.css' }}" id="theme-stylesheet">
	<link rel="stylesheet" href="{{ '/css/custom.css' }}">
	<link rel="shortcut icon" href="{{'/img/favicon1.ico'}}">

	<!-- Javascript files-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"> </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
	<script src="{{ '/js/front.js' }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
	<script>
	window.addEventListener("load", function(){
	window.cookieconsent.initialise({
	  "palette": {
		"popup": {
		  "background": "#241f1f"
		},
		"button": {
		  "background": "#ededed"
		}
	  },
	  "theme": "classic"
	})});
	</script>

	{% if site.production %}
	{% include google_analytics.html %}
	{% endif %}
</head>